<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Protim</a>
</nav>
<div class="card">
    <div class="card-header text-center">
        <button title="last" type="button" class="btn btn-link">
            <i class="fas fa-arrow-left"></i>
        </button>
        <input title="Day" type="date" value="1985-02-01"/>
        <button title="next" type="button" class="btn btn-link">
            <i class="fas fa-arrow-right"></i>
        </button>
    </div>
    <div class="table-responsive-md">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">StartTime</th>
                <th scope="col">Duration</th>
                <th scope="col">Description</th>
                <th scope="col">Notes</th>
                <th scope="col">Ticket</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="time" placeholder="e.g. 09:25">
                </td>
                <td>
                    <input type="time" placeholder="e.g. 01:15">
                </td>
                <td>
                    <textarea rows="1" placeholder="What has been done"></textarea>
                </td>
                <td>
                    <textarea rows="1" placeholder="personal notes"></textarea>
                </td>
                <td>
                    <textarea rows="1" type="text" placeholder="TICKET-123"></textarea>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" title="synced">
                        <i class="fas fa-lock"></i>
                    </button>

                    <button type="button" class="btn btn-primary" title="synced">
                        <i class="fas fa-lock-open"></i>
                    </button>
                    <button type="button" class="btn btn-primary" title="sync">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                    <button type="button" class="btn btn-danger" title="remove">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="time" placeholder="e.g. 09:25">
                </td>
                <td>
                    <input type="time" placeholder="e.g. 01:15">
                </td>
                <td>
                    <textarea rows="1" placeholder="What has been done"></textarea>
                </td>
                <td>
                    <textarea rows="1" placeholder="personal notes"></textarea>
                </td>
                <td>
                    <textarea rows="1" type="text" placeholder="TICKET-123"></textarea>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" title="synced">
                        <i class="fas fa-lock"></i>
                    </button>

                    <button type="button" class="btn btn-primary" title="synced">
                        <i class="fas fa-lock-open"></i>
                    </button>
                    <button type="button" class="btn btn-primary" title="sync">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                    <button type="button" class="btn btn-danger" title="remove">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="time" placeholder="e.g. 09:25">
                </td>
                <td>
                    <input type="time" placeholder="e.g. 01:15">
                </td>
                <td>
                    <textarea rows="1" placeholder="What has been done"></textarea>
                </td>
                <td>
                    <textarea rows="1" placeholder="personal notes"></textarea>
                </td>
                <td>
                    <textarea rows="1" type="text" placeholder="TICKET-123"></textarea>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" title="synced">
                        <i class="fas fa-lock"></i>
                    </button>

                    <button type="button" class="btn btn-primary" title="synced">
                        <i class="fas fa-lock-open"></i>
                    </button>
                    <button type="button" class="btn btn-primary" title="sync">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                    <button type="button" class="btn btn-danger" title="remove">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="time" placeholder="e.g. 09:25">
                </td>
                <td>
                    <input type="time" placeholder="e.g. 01:15">
                </td>
                <td>
                    <textarea rows="1" placeholder="What has been done"></textarea>
                </td>
                <td>
                    <textarea rows="1" placeholder="personal notes"></textarea>
                </td>
                <td>
                    <textarea rows="1" type="text" placeholder="TICKET-123"></textarea>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" title="synced">
                        <i class="fas fa-lock"></i>
                    </button>

                    <button type="button" class="btn btn-primary" title="synced">
                        <i class="fas fa-lock-open"></i>
                    </button>
                    <button type="button" class="btn btn-primary" title="sync">
                        <i class="fas fa-sync-alt"></i>
                    </button>
                    <button type="button" class="btn btn-danger" title="remove">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-primary ">Save</button>
</div>
</body>
</html>